[Unit]
Description=Hyprland graphical session
BindsTo=graphical-session.target
Wants=graphical-session-pre.target
Wants=syncthing.service
Wants=orbit-shell.service
After=graphical-session-pre.target
Before=graphical-session.target
